{% extends 'todo_app/base.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Редактор задачи</h1>
    <form class="ui form" action="{% url 'change' todo_id=todo.id %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Редактирование задачи</label>
            <input type="text" name="title" placeholder="Введите новое название задачи:"><br>
            <input type="text" name="description" placeholder="Введите новое описание задачи:">
        </div>
        <button class="ui teal basic button" type="submit">Обновить</button>

    </form>
</div>

{% endblock %}
